*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 580px;
}
.logo img{
	width: 150px;
	height: 200px;
	margin-left: 5px;
}


.sec{
	text-align: center;
}
.sec .sec-para1{
	text-align: center;
	padding-top: 30px;
	font-size: 50px;
	font-weight: 1000;
}
.table-1{
	margin-left: 50px;
	padding: 5px;
	margin-top: 30px;

}
.table-1 tr td{
	padding: 20px;
	font-weight: 800;
	font-size: 15px;
}